<h1>Projects</h1>

<section class="project">
  <h2>This Blog</h2>
  <p>Built with Ruby on Rails this blog uses Postgresql as the database and 
  features the ability to write blog posts in markdown. It has authentication
  provided by the rails built in has_secure_password.
  </p>

  <a href="https://github.com/toasty-app-a-day/blog"><%= image_tag "icons/github_small" %>View the Source on Github</a>
</section>
