<h1>Projects</h1>

<div class="project">
  <h2>This Blog</h2>
  <p>
    Built with Ruby on Rails this blog uses Postgresql as the database and 
    features the ability to write blog posts in markdown. It has authentication
    provided by the rails built in has_secure_password.
  </p>

  <h3>Technologies Used</h3>
  <ul class="technologies"></ul>

  <h3>Links</h3>
  <a href="https://github.com/toasty-app-a-day/blog"><%= image_tag "icons/github_small" %>View the Source on Github</a>
</div>

<div class="project">
  <h2>Spool Tracker</h2>
  <p>
    Track the success and failure of FDM 3d prints. Reads the settings 
    from a prusa slic3r file to track which settings fail and which succeed for different
    prints and spools.
  </p>
  <h3>Technologies Used</h3>
  <ul class="technologies">
  	<li>Ruby on Rails</li>
  </ul>
</div>

<div class="project">
  <h2>Print my thing</h2>
  <p>Management software for a 3d print farm.</p> 
  <p>
    As a "farmer" list your printers and availabilities, rates, available filaments, 
  etc. Process payments and see new potential clients that are looking for a quote.
  </p>
  <p>
    As a customer find someone with an available printer with the size and detail
    you need for your print. Request a quote, pay for your print and track progress.
  </p>

  <h3>Technologies Used</h3>
  <ul class="technologies"></ul>
</div>
