@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

main {
  margin: 0 3em;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
