.form-vertical {
  display: grid;
  width: 50vw;

  input {
    margin-bottom: 2em;
  }

  textarea {
    margin-bottom: 2em;
  }

  label {
    margin-bottom: 0.5em;
  }

  input[type="submit"] {
    padding: 0.5em;
  }
}

.user-form {
  max-width: 600px;
}
