.form-vertical {
  display: grid;
  max-width: 500px;

  input {
    margin-bottom: 2em;
  }

  textarea {
    margin-bottom: 2em;
  }

  label {
    margin-bottom: 0.5em;
  }

  input[type="submit"] {
    padding: 0.5em;
  }
}
