nav {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    margin: 0;
  }

  li a {
    padding: .75em 2em;
    color: black;
  }

  li a:hover {
    background-color: #cdcdef;
  }
}
